@if (game) {
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/games">Games</a></li>
      <li class="breadcrumb-item active">Play Game {{game.name}}</li>
    </ol>
  </nav>
  @if (feedback.message) {
  <div class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  }
  <form #matchForm="ngForm" (ngSubmit)="save()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Make your selection: {{playerSelectionLabel | uppercase}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-game-select (playerSelectionEvent)="onPlayerSelectionEvent($event)"></app-game-select>
      </mat-card-content>
      <mat-card-footer>
        <div role="group">
          <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!playerSelection || loading"
              id="save">Submit</button>
            <button type="button" mat-button color="accent" (click)="cancel()" id="cancel">Cancel</button>
          </mat-card-actions>
        </div>
      </mat-card-footer>
    </mat-card>
  </form>
  @if (resultMatch){
  <app-result [match]="resultMatch" [game]="game" @insertResult></app-result>
  }
}