<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Games</li>
  </ol>
</nav>

<a [routerLink]="['/game/new']" mat-raised-button color="primary" style="float: right" id="add"><mat-icon>add</mat-icon>Add Game</a>

<h2>{{title}}</h2>
@if (loading) {
<div>
  <p>Loading...</p>
</div>
} @else {
  @if (feedback.message) {
    <div class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  }
  <table mat-table [dataSource]="games">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Game </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="players">
      <mat-header-cell *matHeaderCellDef> Players </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <ng-container *ngFor="let player of item.players; let i=index; let isLast=last">
          {{player.name}} <span *ngIf="!isLast">&#44;&nbsp;</span> 
      </ng-container>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <a [routerLink]="['../game/', item.id, 'play' ]" mat-raised-button color="primary"><mat-icon>play_arrow</mat-icon>Play</a>&nbsp;
        <a [routerLink]="['../game', item.id ]" mat-raised-button color="accent"><mat-icon>delete</mat-icon>Edit</a>&nbsp;
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
}